.modifyStudent{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-width: 800px;
}

.formInput{
  width: 300px;
}
.formSpan{
  width: 90px;
  display: inline-block;
}
#information{
  margin: 70px 0 0 30px;
  text-align: left;
  width: 86%;
  min-width:700px;
  border: 1px #B0C4DE solid;
  border-radius: 5px;
  padding: 30px 0 40px 30px;
}
