button{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    letter-spacing: 1px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    transform: scale(1,1);
}
.warning{
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}
.primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}
.is-round{
    border-radius: 20px;
    padding: 12px 23px;
}
.hover-effect:hover{
    transform: scale(1.1,1.1);
}
.gpu{
    will-change: transform;
}
