.tip-container{
    position: relative;
    z-index: 100;
}
.content{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 150px;
}
.button-container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}